//mixin S(nameSection, variablesSection)
//	case nameSection
//		when 'section-feedback-popup'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-feedback-popup/section-feedback-popup
//				+section-feedback-popup(variablesSection)
//			else
//				+section-feedback-popup(variablesSection)
//
//		when 'section-banner-with-slider'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-with-slider/section-banner-with-slider
//				+section-banner-with-slider(variablesSection)
//			else
//				+section-banner-with-slider(variablesSection)
//
//		when 'section-banner-index'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-index/section-banner-index
//				+section-banner-index(variablesSection)
//			else
//				+section-banner-index(variablesSection)
//
//		when 'section-timeline'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-timeline/section-timeline
//				+section-timeline(variablesSection)
//			else
//				+section-timeline(variablesSection)
//
//		when 'section-reviews'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-reviews/section-reviews
//				+section-reviews(variablesSection)
//			else
//				+section-reviews(variablesSection)
//
//		when 'section-news'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-news/section-news
//				+section-news(variablesSection)
//			else
//				+section-news(variablesSection)
//
//		when 'section-partners'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-partners/section-partners
//				+section-partners(variablesSection)
//			else
//				+section-partners(variablesSection)
//
//		when 'section-contacts'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-contacts/section-contacts
//				+section-contacts(variablesSection)
//			else
//				+section-contacts(variablesSection)
//
//		when 'section-requisites'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-requisites/section-requisites
//				+section-requisites(variablesSection)
//			else
//				+section-requisites(variablesSection)
//
//		when 'section-banner-clear'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-clear/section-banner-clear
//				+section-banner-clear(variablesSection)
//			else
//				+section-banner-clear(variablesSection)
//
//		when 'section-program'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-program/section-program
//				+section-program(variablesSection)
//			else
//				+section-program(variablesSection)
//
//		when 'section-product'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-product/section-product
//				+section-product(variablesSection)
//			else
//				+section-product(variablesSection)
//
//		when 'section-registration'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-registration/section-registration
//				+section-registration(variablesSection)
//			else
//				+section-registration(variablesSection)
//
//		when 'section-happening'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-happening/section-happening
//				+section-happening(variablesSection)
//			else
//				+section-happening(variablesSection)
//
//		when 'section-useful-documents'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-useful-documents/section-useful-documents
//				+section-useful-documents(variablesSection)
//			else
//				+section-useful-documents(variablesSection)
//
//		when 'section-faq'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-faq/section-faq
//				+section-faq(variablesSection)
//			else
//				+section-faq(variablesSection)
//
//		when 'section-fullscreen'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-fullscreen/section-fullscreen
//				+section-fullscreen(variablesSection)
//			else
//				+section-fullscreen(variablesSection)
//
//		when 'section-works'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-works/section-works
//				+section-works(variablesSection)
//			else
//				+section-works(variablesSection)
//
//		when 'section-banner'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner/section-banner
//				+section-banner(variablesSection)
//			else
//				+section-banner(variablesSection)
//
//		when 'section-expenses'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-expenses/section-expenses
//				+section-expenses(variablesSection)&attributes(attributes)
//			else
//				+section-expenses(variablesSection)&attributes(attributes)
//
//		when 'section-insurance'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-insurance/section-insurance
//				+section-insurance(variablesSection)
//			else
//				+section-insurance(variablesSection)
//
//		when 'section-calculation'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-calculation/section-calculation
//				+section-calculation(variablesSection)
//			else
//				+section-calculation(variablesSection)
//
//		when 'section-online-star'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-online-star/section-online-star
//				+section-online-star(variablesSection)
//			else
//				+section-online-star(variablesSection)
//
//		when 'section-expenses-tabs'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-expenses-tabs/section-expenses-tabs
//				+section-expenses-tabs(variablesSection)
//			else
//				+section-expenses-tabs(variablesSection)
//
//		when 'section-insurance-faq'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-insurance-faq/section-insurance-faq
//				+section-insurance-faq(variablesSection)
//			else
//				+section-insurance-faq(variablesSection)
//
//		when 'section-paralax'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-paralax/section-paralax
//				+section-paralax(variablesSection)
//			else
//				+section-paralax(variablesSection)
//
//		when 'section-expenses-mini'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-expenses-mini/section-expenses-mini
//				+section-expenses-mini(variablesSection)
//			else
//				+section-expenses-mini(variablesSection)
//
//		when 'section-slider-mobile'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-slider-mobile/section-slider-mobile
//				+section-slider-mobile(variablesSection)
//			else
//				+section-slider-mobile(variablesSection)
//
//		when 'section-info-block-popup'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-info-block-popup/section-info-block-popup
//				+section-info-block-popup(variablesSection)
//			else
//				+section-info-block-popup(variablesSection)
//
//		when 'section-long-card'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-long-card/section-long-card
//				+section-long-card(variablesSection)
//			else
//				+section-long-card(variablesSection)
//
//		when 'section-extend'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-extend/section-extend
//				+section-extend(variablesSection)
//			else
//				+section-extend(variablesSection)
//
//		when 'section-online'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-online/section-online
//				+section-online(variablesSection)
//			else
//				+section-online(variablesSection)
//
//		when 'section-results'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-results/section-results
//				+section-results(variablesSection)
//			else
//				+section-results(variablesSection)
//
//		when 'section-description'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-description/section-description
//				+section-description(variablesSection)
//			else
//				+section-description(variablesSection)
//
//		when 'section-difference'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-difference/section-difference
//				+section-difference(variablesSection)
//			else
//				+section-difference(variablesSection)
//
//		when 'section-sentence'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-sentence/section-sentence
//				+section-sentence(variablesSection)
//			else
//				+section-sentence(variablesSection)
//
//		when 'section-banner-empty'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-empty/section-banner-empty
//				+section-banner-empty(variablesSection)
//			else
//				+section-banner-empty(variablesSection)
//
//		when 'section-main-slider'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-main-slider/section-main-slider
//				+section-main-slider(variablesSection)
//			else
//				+section-main-slider(variablesSection)
//
//		when 'section-mobile-app'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-mobile-app/section-mobile-app
//				+section-mobile-app(variablesSection)
//			else
//				+section-mobile-app(variablesSection)
//
//		when 'section-dont-worry'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-dont-worry/section-dont-worry
//				+section-dont-worry(variablesSection)
//			else
//				+section-dont-worry(variablesSection)
//
//		when 'section-conditions'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-conditions/section-conditions
//				+section-conditions(variablesSection)
//			else
//				+section-conditions(variablesSection)
//
//		when 'section-two-ways'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-two-ways/section-two-ways
//				+section-two-ways(variablesSection)
//			else
//				+section-two-ways(variablesSection)
//
//		when 'section-thunder-info'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-thunder-info/section-thunder-info
//				+section-thunder-info(variablesSection)
//			else
//				+section-thunder-info(variablesSection)
//
//		when 'section-refusal'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-refusal/section-refusal
//				+section-refusal(variablesSection)
//			else
//				+section-refusal(variablesSection)
//
//		when 'section-megafon-form'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-megafon-form/section-megafon-form
//				+section-megafon-form(variablesSection)
//			else
//				+section-megafon-form(variablesSection)
//
//		when 'section-news-details'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-news-details/section-news-details
//				+section-news-details(variablesSection)
//			else
//				+section-news-details(variablesSection)
//
//		when 'section-steps'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-steps/section-steps
//				+section-steps(variablesSection)
//			else
//				+section-steps(variablesSection)
//
//		when 'section-download-documents'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-download-documents/section-download-documents
//				+section-download-documents(variablesSection)
//			else
//				+section-download-documents(variablesSection)
//
//		when 'footer-landing-without-links'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include footer-landing-without-links/footer-landing-without-links
//				+footer-landing-without-links(variablesSection)
//			else
//				+footer-landing-without-links(variablesSection)
//
//		when 'footer-landing-round'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include footer-landing-round/footer-landing-round
//				+footer-landing-round(variablesSection)
//			else
//				+footer-landing-round(variablesSection)
//
//		when 'section-tabs-slider'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-tabs-slider/section-tabs-slider
//				+section-tabs-slider(variablesSection)
//			else
//				+section-tabs-slider(variablesSection)
//
//		when 'section-information-price'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-information-price/section-information-price
//				+section-information-price(variablesSection)
//			else
//				+section-information-price(variablesSection)
//
//		when 'section-online-download'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-online-download/section-online-download
//				+section-online-download(variablesSection)
//			else
//				+section-online-download(variablesSection)
//
//		when 'section-actions'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-actions/section-actions
//				+section-actions(variablesSection)&attributes(attributes)
//			else
//				+section-actions(variablesSection)&attributes(attributes)
//
//			//- СЕКЦИЯ С ТАБАМИ ПЕРЕКЛЮЧАЮЩИЕ СЛАЙДЕРЫ И КАРТОЧКАМИ С АНИМИРОВАННОЙ КАРТИНКОЙ НА ФОНЕ ПРИ ХОВЕРЕ
//		when 'section-tabs-sliders-animation-cards'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-tabs-sliders-animation-cards/section-tabs-sliders-animation-cards
//				+section-tabs-sliders-animation-cards(variablesSection)&attributes(attributes)
//			else
//				+section-tabs-sliders-animation-cards(variablesSection)&attributes(attributes)
//
//			//- СЕКЦИЯ СО СЛАЙДЕРОМ И ПРОСТЫМИ КАРТОЧКАМИ
//		when 'section-slider-cards'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-slider-cards/section-slider-cards
//				+section-slider-cards(variablesSection)&attributes(attributes)
//			else
//				+section-slider-cards(variablesSection)&attributes(attributes)
//
//			//- СЕКЦИЯ С ПРОСТЫМИ КАРТОЧКАМИ и СО СЛАЙДЕРОМ, КОТОРЫЙ ПЕРЕЛИСТЫВАЕТ СЛАЙДЫ НА РАЗРЕШЕНИИ НИЖЕ 992px
//		when 'section-slider-simple-cards'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-slider-simple-cards/section-slider-simple-cards
//				+section-slider-simple-cards(variablesSection)&attributes(attributes)
//			else
//				+section-slider-simple-cards(variablesSection)&attributes(attributes)
//			//- СЕКЦИЯ БАННЕРА ДЛЯ СТРАНИЦЫ (MORTAGE-RENEWAL)
//		when 'section-banner-mortage-renewal'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-mortage-renewal/section-banner-mortage-renewal
//				+section-banner-mortage-renewal(variablesSection)&attributes(attributes)
//			else
//				+section-banner-mortage-renewal(variablesSection)&attributes(attributes)
//			//- СЕКЦИЯ "КАК ПРОДЛИТЬ СТРАХОВКУ"
//		when 'section-renew-insurance'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-renew-insurance/section-renew-insurance
//				+section-renew-insurance(variablesSection)&attributes(attributes)
//			else
//				+section-renew-insurance(variablesSection)&attributes(attributes)
//			//- СЕКЦИЯ "ОСОБЕННОСТИ ЗАЩИТЫ"
//		when 'section-protection-features'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-protection-features/section-protection-features
//				+section-protection-features(variablesSection)&attributes(attributes)
//			else
//				+section-protection-features(variablesSection)&attributes(attributes)
//			//- СЕКЦИЯ "МЫ ЗАПЛАТИМ, ЕСЛИ ПОСТРАДАЕТ"
//		when 'section-we-will-pay'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-we-will-pay/section-we-will-pay
//				+section-we-will-pay(variablesSection)&attributes(attributes)
//			else
//				+section-we-will-pay(variablesSection)&attributes(attributes)
//			//- СЕКЦИЯ "ПОЛЕЗНЫЕ ДОКУМЕНТЫ" TODO: обсудить секции
//		when 'section-useful-documents2'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-useful-documents2/section-useful-documents2
//				+section-useful-documents2(variablesSection)&attributes(attributes)
//			else
//				+section-useful-documents2(variablesSection)&attributes(attributes)
//
//		when 'section-banner-summer-pulse'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-summer-pulse/section-banner-summer-pulse
//				+section-banner-summer-pulse(variablesSection)&attributes(attributes)
//			else
//				+section-banner-summer-pulse(variablesSection)&attributes(attributes)
//
//		when 'section-add-cards-api'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-add-cards-api/section-add-cards-api
//				+section-add-cards-api(variablesSection)&attributes(attributes)
//			else
//				+section-add-cards-api(variablesSection)&attributes(attributes)
//
//		when 'section-cards-long'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-cards-long/section-cards-long
//				+section-cards-long(variablesSection)&attributes(attributes)
//			else
//				+section-cards-long(variablesSection)&attributes(attributes)
//
//				//- СЕКЦИЯ ДЛЯ ПРОСТЫХ КАРТОЧЕК БЕЗ СЛАЙДЕРА (В ДАЛЬНЕЙШЕМ БУДЕТ УСЛОЖНАТЬСЯ В ЗАВИСИМОСТИ ОТ ВИДА КАРТОЧКИ)
//		when 'section-universal-cards'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-universal-cards/section-universal-cards
//				+section-universal-cards(variablesSection)&attributes(attributes)
//			else
//				+section-universal-cards(variablesSection)&attributes(attributes)
//
//					//- СЕКЦИЯ ДЛЯ ПРОСТЫХ КАРТОЧЕК С ПОЗИЦИОНИРОВАННЫМИ КАРТИНКАМИ
//		when 'section-cards-long'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-cards-long/section-cards-long
//				+section-cards-long(variablesSection)&attributes(attributes)
//			else
//				+section-cards-long(variablesSection)&attributes(attributes)
//
//					//- СЕКЦИЯ БАННЕР ДЛЯ ПРОСТЫХ ИЗОБРАЖЕНИЙ
//		when 'section-banner-standart'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-banner-standart/section-banner-standart
//				+section-banner-standart(variablesSection)&attributes(attributes)
//			else
//				+section-banner-standart(variablesSection)&attributes(attributes)
//
//					//- СЕКЦИЯ ТАБОВ В ЛЕВОЙ КОЛОНКЕ И АККОРДЕОНОВ В ПРАВОЙ
//		when 'section-tabs-accordion'
//			if typeof pug_mixins[`${nameSection}`] !== 'function'
//				include section-tabs-accordion/section-tabs-accordion
//				+section-tabs-accordion(variablesSection)&attributes(attributes)
//			else
//				+section-tabs-accordion(variablesSection)&attributes(attributes)
